html,
body {
  height: 100vh;
  margin: 0;
  font-size: 20px;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 1px;
  text-align: center;
}

header,
.main section,
#particles-js {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 150px;
}

h1 {
  font-family:'Playfair Display', serif;
  margin: 0px;
  font-size: 5rem;
  font-weight: 700;
  line-height: 6rem;
  font-style: italic;

}

h2 {
  font-family:'Playfair Display', serif;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 3.7rem;
  font-style: italic;
}

h3 {
  font-family: 'Oxygen', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

p {
  font-size: 1rem;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 1px;
}

.main {
  position: relative;
}

section div {
  width: 50%;
  margin: 0px auto;
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease-out;
  z-index: 2;
}

/* toggled class to fade in the headers */
.fade-in {
  opacity: 1;
  transform: translateY(0px);
}

/* svgs should always take up most of the background space */
svg {
  width: 100%;
  z-index: 0;
  position: absolute;
}

/* specific classes for the fundamental/s section svg*/
svg#triangles {
  overflow: visible;
  transform: scale(.75);
}

/* makes sure all the pyramids and bubbles / hearts start from 0 opacity */
#fancy,
#fundamentals-1,
#fundamentals-2,
#fundamentals-3,
svg path.bubble,
svg path.heart   {
  opacity: 0;
  pointer-events: all;
}

/* specific classes for the brickwall svg */
svg.brick-wall {
  z-index: 3; /* cover up text with the */
  pointer-events: all; /* enables hover effect for each brick */
}

/* toggle class to show heart on the speech bubbles for the critics section */
.show-heart {
  fill: #FFA3ED;
  transition: all .5s ease;
}

/* particle container for the experience section */
#particles-js {
  padding-top: 200px;
  position: absolute;
}

#experience .content-wrapper {
  z-index: -1; /* makes the particles overlay on top of the text for this section */
}

/* back to top button */

.cd-top {
  position: fixed;
  width: 80px;
  height: 80px;
  bottom: 50px;
  right: 50px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: lightgrey;
  z-index: 5;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.4), 0 1.5px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.cd-top:hover {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5), 0 3px 8px rgba(0, 0, 0, 0.2);
}
