html,
body {
  height: 100%;
  margin: 0;
  font-size: 20px;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 1px;
  text-align: center;
}

header,
.main section{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 150px;
}

h1 {
  font-family:'Playfair Display', serif;
  margin: 0px;
  font-size: 5rem;
  font-weight: 700;
  line-height: 6rem;
  font-style: italic;

}

h2 {
  font-family:'Playfair Display', serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 3.5rem;
  font-style: italic;
}

h3 {
  font-family: 'Oxygen', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

p {
  font-size: 1rem;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 1px;
}

.main {
  position: relative;
}

section div {
  width: 50%;
  margin: 0px auto;
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease-out;
  z-index: 2;
}

/* svgs should always take up most of the background space */
svg {
  width: 100%;
  z-index: 0;
  position: absolute;
}

/* specific classes for the fundamental svg*/
svg#triangles {
  /*position: relative;*/
  overflow: visible;
  transform: scale(.75);
}

#fancy,
#fundamentals-1,
#fundamentals-2,
#fundamentals-3   {
  opacity: 0;
}

/* specific classes for the brickwall svg */
svg.brick-wall {
  z-index: 3; /* cover up text with the */
  pointer-events: all; /* enables hover effect for each brick */
}

/* Toggle Class to fade in the headers */
.fade-in {
  opacity: 1;
  transform: translateY(0px);
}
