html,
body {
  height: 100vh;
  margin: 0;
  font-size: 20px;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 1px;
  text-align: center;
}

header,
.main section,
#particles-js {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 200px;
}

#fundamentals,
#brickwalls,
#work-hard {
  padding-bottom: 100px;
}

header p {
  font-size: 0.7rem;
  font-weight: 700;
  padding-top: 250px;
}

h1 {
  font-family:'Playfair Display', serif;
  margin: 0px;
  font-size: 5rem;
  font-weight: 700;
  line-height: 6rem;
  font-style: italic;
}

h2 {
  font-family:'Playfair Display', serif;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 3.7rem;
  font-style: italic;
}

h3 {
  font-family: 'Oxygen', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

p {
  font-size: 1rem;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 1px;
}

.main {
  position: relative;
}

section div {
  width: 50%;
  margin: 0px auto;
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease-out;
  z-index: 2;
}

/* toggled class to fade in the headers */
.fade-in {
  opacity: 1;
  transform: translateY(0px);
}

/* svgs should always take up most of the background space */
svg {
  width: 100%;
  z-index: 0;
  position: absolute;
}

/* specific classes for the fundamental/s section svg*/
svg#triangles {
  overflow: visible;
  transform: scale(.75);
}

/* makes sure all the pyramids and bubbles / hearts start from 0 opacity */
#fancy,
#fundamentals-1,
#fundamentals-2,
#fundamentals-3 {
  opacity: 0;
}

/* specific classes for the brickwall svg */
svg.brick-wall {
  z-index: 3; /* cover up text with the */
  pointer-events: all; /* enables hover effect for each brick */
}

/* toggle class to show heart on the speech bubbles for the critics section */
svg path.bubble,
svg path.heart {
  opacity: 0;
  pointer-events: all;
  z-index: 5;
}

.show-heart {
  fill: #FFA3ED;
  transition: all .5s ease;
}

/* particle container for the experience section */
#particles-js {
  padding-top: 200px;
  padding-bottom: 400px;
  position: absolute;
}

#experience .content-wrapper {
  z-index: -1; /* makes the particles overlay on top of the text for this section */
}

/* ===== back to top button */
.cd-top {
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 50px;
  right: 50px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: lightgrey;
  z-index: 5;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.4), 0 1.5px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 2rem;
  line-height: 3rem;
}

.cd-top:hover {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5), 0 3px 8px rgba(0, 0, 0, 0.2);
}


/* ==== Media Queries */
@media only screen and (max-width:939px) {
  html {
    overflow-x: hidden;
  }

  h1 {
    font-size: 4rem;
    line-height: 4rem;
  }

  h2 {
    font-size: 3rem;
    line-height: 3.2rem;
  }

  h3 {
    font-size: .9rem;
    line-height: .9rem;
  }

  p {
    font-size: .9rem;
    line-height: 1.5rem;
  }

  .content-wrapper {
    width: 80%;
  }

  svg.brick-wall {
      width: 160%;
      z-index: -1;
      opacity: 0.2;
  }

  .cd-top {
}
@media only screen and (max-width: 770px) {
  html {
    overflow-x: hidden;
  }

  section {
    padding: 0;
  }

  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2rem;
  }

  h3 {
    font-size: .8rem;
    line-height: .8rem;
  }

  p {
    font-size: .9rem;
    line-height: 1.5rem;
  }

  .content-wrapper {
    width: 80%;
  }

  svg.brick-wall {
      width: 300%;
      left: -500px;
  }
}
